<?xml version="1.0" encoding="UTF-8"?>
<apps>
    <app>
        <id>1</id>
        <name>杨新</name>
        <version>4.0</version>
    </app>

    <app>
        <id>2</id>
        <name>杨新</name>
        <version>3.0</version>
    </app>

    <app>
        <id>12</id>
        <name>杨新</name>
        <version>43.0</version>
    </app>


</apps>